<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Created by
                <br>
                Santiago Marino Vasquez - Laura Daniela Rocha Gama - Yesica Andrea Duarte Barrera - Jose Manuel
                Cordoba Sandoval - Leidy Jazmin Duarte Barrera.
                <br>
                2019 &copy;
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>